<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Lambda tests Mobile automation test suite" parallel="classes" thread-count="2">
    <test name="Demo Tests">
        <classes>
            <class name="com.bagal.tests.mobile.MobileDemoTest"/>
            <class name="com.bagal.tests.mobile.MobileDemo2Test"/>
        </classes>
    </test>
</suite>